<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appcv"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".View.CvApplyActivity"
            android:exported="false" />
        <activity
            android:name=".View.CreateJobActivity"
            android:exported="false" />
        <activity
            android:name=".View.CreateAddressActivity"
            android:exported="false" />
        <activity
            android:name=".View.SelectAddressActivity"
            android:exported="false" />
        <activity
            android:name=".View.EditJob.EditJobCompanyActivity"
            android:exported="false" />
        <activity
            android:name=".View.EditJob.EditProfileCompanyActivity"
            android:exported="false" />
        <activity
            android:name=".View.EditJob.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".View.Edit.EditCvCandidateActivity"
            android:exported="false" />
        <activity
            android:name=".View.Edit.EditProfileCandidateActivity"
            android:exported="false" />
        <activity
            android:name=".View.EditJob.EditAddressActivity"
            android:exported="false" />
        <activity
            android:name=".View.EditJob.EditExperienceActivity"
            android:exported="false" />
        <activity
            android:name=".View.JobCompanyActivity"
            android:exported="false" />
        <activity
            android:name=".View.CompanyActivity"
            android:exported="false" />
        <activity
            android:name=".View.JobActivity"
            android:exported="false" />
        <activity
            android:name=".View.JobDetailActivity"
            android:exported="false" />
        <activity
            android:name=".View.CompanyDetailActivity"
            android:exported="false" />
        <activity
            android:name=".View.Edit.EditImageActivity"
            android:exported="false" />
        <activity
            android:name=".View.Edit.EditGenderActivity"
            android:exported="false" />
        <activity
            android:name=".View.Edit.EditBirthdayActivity"
            android:exported="false" />
        <activity
            android:name=".View.Edit.EditPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".View.Edit.EditProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".View.ProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".View.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".View.CreateCvActivity"
            android:exported="false" />
        <activity
            android:name=".View.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".View.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".View.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>